<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary">
      New Recipe
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recepies" >
      <div class="float-left">
      <h4 class="list-group-item">{{recipe.name}}</h4>
      <h6 class="list-group-item">{{recipe.description}}</h6>
      </div>
      <div class="float-right">
        <span >
          <img [src]="recipe.imagePath" class="img-responsive" style="max-height: 50px;">
        </span>
      </div>

    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

